section {
    width: 100vw;
    height: 90vh;
  
    background-color: #c2b2ff;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  
    section,
    #shower {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    #shower {
      width: 50vw;
      height: 50vh;
  
      flex-direction: column;
  
      background-color: #9084d8;
      border-radius: 1vw;
  
      overflow-y: scroll;
  
      .caixinha {
        width: 4vw;
        height: 4vw;
  
        border-radius: 1vw;
      }
  
      .tarefinha {
        width: 20vw;
        height: 2vw;
  
        font-size: 1.5vh;
      }
  
      .comp:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  
  }